body{
    background-image: url("images/black.jpg");
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; } */
    color: wheat;

}
.names{
    text-align: center;
    color: blue;

}


.image1{
    float: left;
    height: 5%;
    border-color: black;

}

 table{
    color:whitesmoke;
  border-collapse: collapse;
  width: 50%;
  font-weight: bolder;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
/* 
tr:nth-child(even) {
  background-color: #dddddd;
} */

td{
    padding-right: 50px;

}
.name{
    text-align: center;
    /* margin-top: 20px; */
    padding-bottom: 10%;
    margin-right: 8%;
}
.btn{
    border-radius: 2%;
    background-color: blue;
}
a{
    font-size: large;
    color:whitesmoke;

}
a:hover{
    color: rgb(20, 42, 168);
}
.container{
    justify-content: space-around;
    text-align: center;
    margin-top: 5%;
}

.link{
    float: right;
    padding-top: 20%;
    padding-right: 20%;
}